<!DOCTYPE html>
<html>



<head>
    <title>Furima29356</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>





<body>
 <header class="top-page-header">
   <div class="search-bar-contents">
     <a href="/"><img class="furima-icon" src="/assets/images/furima-logo-color"></a>
     <form class="search-form" action="#">
       <input class="input-box" placeholder="キーワードから探す">
       <button class="search-button">
         <img class="search-icon" src="/assets/icon-search-f9a024f501f1142920a46a8375bd03378ffb58e2c2d2d02a6446303b0f8a6f77.png">
       </button>
     </form>
   </div>
   <div class="nav">
     <ul class="lists-left">
       <li><a class="category-list" href="#">カテゴリー</a></li>
       <li><a class="brand-list" href="#">ブランド</a></li>
     </ul>
     <ul class="lists-right">
       <li><a class="user-nickname" href="#">test2</a></li>
       <li><a class="logout" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></li>
     </ul>
   </div>
 </header>
    
    <%= yield %>

 <div class="footer">
   <div class="footer-contents">
     <div class="furima-details">
       <h2 class="footer-content-head">FURIMAについて</h2>
       <ul>
         <li><a class="footer-link" href="#">会社概要（運営会社)</a></li>
         <li><a class="footer-link" href="#">プライバシーポリシー</a></li>
         <li><a class="footer-link" href="#">FURIMA利用規約</a></li>
         <li><a class="footer-link" href="#">ポイントに関する特約</a></li>
       </ul>
     </div>
     <div class="furima-details">
       <h2 class="footer-content-head">FURIMAを見る</h2>
       <ul>
         <li><a class="footer-link" href="#">カテゴリー一覧</a></li>
         <li><a class="footer-link" href="#">ブランド一覧</a></li>
       </ul>
     </div>
     <div class="furima-details">
       <h2 class="footer-content-head">FURIMAについて</h2>
       <ul>
         <li><a class="footer-link" href="#">FURIMAガイド</a></li>
         <li><a class="footer-link" href="#">FURIMAロゴ利用ガイドライン</a></li>
         <li><a class="footer-link" href="#">お知らせ</a></li>
       </ul>
     </div>
   </div>
   <a href="#"><img class="logo-white" src="/assets/logo-white-34b9db297824e9a0b2fe711412f0f6ef6431c163d60f76848bf0c719f656e807.png"></a>
   <p>© FURIMA</p>
 </div>
</body>
</html>